@model IEnumerable<ModelCinema.Models.participant>

@{
    ViewBag.Title = "Index Participants";
}

<h2>Participants Index</h2>
<p>
    @Html.ActionLink("Back to Participations", "index", "participations")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.ActionLink("Create New", "Create")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
