@model ModelCinema.Models.participation

@{
    ViewBag.Title = "Details Participations";
}

    <h2>Participations Details</h2>

<div>
    <h4>participation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participant.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participant.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Role)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
