@model IEnumerable<ModelCinema.Models.participation>

@{
    ViewBag.Title = "Index Participations";
}

    <h2>Participations Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.film.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.participant.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role_participant.role)
        </th>
        <th>
            @Html.ActionLink("New Participation", "Create") |
            @Html.ActionLink("Participant list", "Create", "participants") |
            @Html.ActionLink("Role list", "Index", "role_participant")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.film.titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.participant.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role_participant.role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
