@model IEnumerable<ModelCinema.Models.participation>

@{
    ViewBag.Title = "Index Participations";
}

    <h2>Participations Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participant.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.Role)
        </th>
        <th>
            @Html.ActionLink("New Participation", "Create") |
            @Html.ActionLink("Participant list", "Create", "participants") |
            @Html.ActionLink("Role list", "Index", "role_participant")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movie.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Participant.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
