@model ModelCinema.Models.salle

@{
    ViewBag.Title = "Details Salles";
}

    <h2>Salles Details</h2>

    <div>
        <h4>salle</h4>
        @if (TempData.ContainsKey("Alert"))
        {
            <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
        }
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.nbr_place)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nbr_place)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.numero_salle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numero_salle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.commentaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.commentaire)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cinema.id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cinema.id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.salle_status.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.salle_status.status)
            </dd>

        </dl>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
