@model IEnumerable<ModelCinema.Models.salle>

@{
    ViewBag.Title = "Index Salles";
}

<h2>Salles Index</h2>

<table class="table">
    @if (TempData.ContainsKey("Alert"))
    {
        <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
    }
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nbr_place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numero_salle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cinema.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salle_status.status)
        </th>
        <th>
            @Html.ActionLink("Create New", "Create")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nbr_place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numero_salle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commentaire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cinema.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salle_status.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Retour aux cinema", "Index", "cinemas")
</p>
