@model ModelCinema.Models.film

@{
    ViewBag.Title = "Delete Films";
}

    <h2>Films Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    @*<h4>film</h4>*@
    @if (TempData.ContainsKey("Alert"))
    {
        <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
    }
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <br />

        <table class="table">
            <tr>
                <th>
                    @Html.LabelFor(model => model.type_film.typage, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th>
                    @Html.LabelFor(model => model.titre, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.type_film.typage)
                </td>
                <td>
                    @Html.DisplayFor(model => model.film2.titre)
                </td>
            </tr>
        </table>

        <dt>
            @Html.DisplayNameFor(model => model.annee_parution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annee_parution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.revenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.revenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ranking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ranking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metascore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metascore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.votes)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
