@model ModelCinema.Models.film

@{
    ViewBag.Title = "Details Films";
}

    <h2>Films Details</h2>

<div>
    @*<h4>film</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annee_parution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annee_parution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.revenu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.revenu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ranking)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ranking)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metascore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metascore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.votes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.votes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
