@model ModelCinema.Models.film

@{
    ViewBag.Title = "DetailsPromo";
}

<h2>Details Promo</h2>
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annee_parution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annee_parution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.film2.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film2.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type_film.typage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_film.typage)
        </dd>
        <br />
    </dl>
</div>

