@model IEnumerable<ModelCinema.Models.film>
@{
    ViewBag.Title = "Index Films";
}

<h2>Movies</h2>

@if (TempData.ContainsKey("Alert") && Session[SessionKeys.openedTab] == null)
    {
        <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
    }
@using (Html.BeginForm("Filtre", "films", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_film.typage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.annee_parution)
            </th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                @Html.TextBox("titre", "", new { @class = "form-control" })
            </td>
            <td>
                @Html.DropDownList("id_type", null, htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("yearMin", DateTime.Now.Year - 10, new { @class = "form-control datepicker" })
            </td>
            <td>
                @Html.TextBox("yearMax", DateTime.Now.Year + 5, new { @class = "form-control datepicker" })
            </td>
            <td>
                <p>
                    <input type="submit" style="background: url('../../Image/search.png'); display: block; height: 24px; width: 24px;" class="text-hide" />
                </p>
            </td>
        </tr>
    </table>
}

<table class="table">
    <!-- table head -->
    <tr>
        <th>
            Picture
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type_film.typage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annee_parution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duree)
        </th>
        <th>
            <p style=" width:150px" ;>
                <u>@Html.ActionLink("New Movie", "Create")</u> </br>
                <u>@Html.ActionLink("New Trailler", "CreatePromo")</u>
            </p>
        </th>
    </tr>

    <!-- Generate an entree by movie in the model -->
    @foreach (var item in Model)
    {
        <tr>
            <td>
                picture
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type_film.typage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.annee_parution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duree)
            </td>
            <!-- btn -->
            <td>
                <div class="d-flex align-items-center">
                    <span>
                        <input id="@item.id" onclick="Edit(@item.id)"
                               class="text-hide btn-general btn-Edit" type="button" value="" />
                    </span>
                    <span>
                        <input id="@item.id" onclick="Details((@item.id))"
                               class="text-hide btn-general btn-Details" type="button" value="" />
                    </span>
                    <span>
                        <input id="@item.id" onclick="Delete(@item.id)"
                               class="text-hide btn-general btn-Delete" type="button" value="" />
                    </span>
                </div>
            </td>
        </tr>
    }
</table>

<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"></h2>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>

        $(document).ready(function () {
            var testVar = "@Session[SessionKeys.openedTab]"
            switch (testVar) {
                case "Edit":
                    Edit("@Session[SessionKeys.filmId]");
                    break;
                case "Details":
                    Details("@Session[SessionKeys.filmId]");
                    break;
                case "Delete":
                    Delete("@Session[SessionKeys.filmId]");
                    break;
                default:
                    break;
            }
        })

        function Details(id) {
            $('.modal-title').html("Details");
            $.get("@Url.Action("details","films")/" + id,
                function (data) { $('.modal-body').html(data); })
            $('#myModal').modal('show');

            $('#myModal').on('hidden.bs.modal', function (e) {
                $('.modal-body').html("");
                $('.modal-title').html("");
            })
        }

        function Delete(id) {
            $('.modal-title').html("Are you sure you want to delete this movie?");
            $.get("@Url.Action("Delete", "films")/" + id,
                function (data) { $('.modal-body').html(data); })
            $('#myModal').modal('show');

            $('#myModal').on('hidden.bs.modal', function (e) {
                $('.modal-body').html("");
                $('.modal-title').html("");
            })
        }

        function Edit(id) {
            $('.modal-title').html("Edit");
            $.get("@Url.Action("Edit", "films")/" + id,
                function (data) { $('.modal-body').html(data); })
            $('#myModal').modal('show');

            $('#myModal').on('hidden.bs.modal', function (e) {
                $('.modal-body').html("");
                $('.modal-title').html("");
            })
        }
    </script>
}