@model IEnumerable<ModelCinema.Models.film>
@{
    ViewBag.Title = "Index Films";
}

<h2>Films</h2>
@if (TempData.ContainsKey("Alert"))
{
    <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
}
@using (Html.BeginForm("Filtre", "films", FormMethod.Post))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type_film.typage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.annee_parution)
            </th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>
                @Html.TextBox("titre", "", new { @class = "form-control" })
            </th>
            <th>
                @Html.DropDownList("id_type", null, htmlAttributes: new { @class = "form-control" })
            </th>
            <th>
                @Html.TextBox("yearMin", DateTime.Now.Year - 10, new { @class = "form-control datepicker" })
            </th>
            <th>
                @Html.TextBox("yearMax", DateTime.Now.Year + 5, new { @class = "form-control datepicker" })
            </th>
            <th>
                <p>
                    <input type="submit" value="Filtre" class="btn btn-default btn-primary" />
                </p>
            </th>
        </tr>
    </table>
}

<table class="table">
    <tr>
        <th>
            picture
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.type_film.typage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annee_parution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duree)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.revenu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metascore)
            </th>*@

        <th>
            <p style=" width:150px" ;>
                @Html.ActionLink("Create New", "Create") |
                @Html.ActionLink("Create New Promo", "CreatePromo")
            </p>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                picture
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.type_film.typage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.annee_parution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duree)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.revenu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.metascore)
                </td>*@

            <td>
                @if (item.type_film.typage.ToUpper() == "PROMOTIONNEL")
                {
                    @Html.ActionLink("Edit", "EditPromo", new { id = item.id }, new
               {
                   style = "background: url('../Image/edit.png'); display:block; height:24px; width:24px;",
                   @class = "text-hide"
               })
                    @Html.ActionLink("Details", "DetailsPromo", new { id = item.id }, new
               {
                   style = "background: url('../Image/eye.png'); display:block; height:24px; width:24px;",
                   @class = "text-hide"
               })
                    @Html.ActionLink("Delete", "DeletePromo", new { id = item.id }, new
               {
                   style = "background: url('../Image/delete.png'); display:block; height:24px; width:24px;",
                   @class = "text-hide"
               })
                }
                else
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.id, }, new
               {
                   style = "background: url('../Image/edit.png'); display:block; height:24px; width:24px;",
                   @class = "text-hide"
               })
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new
               {
                   style = "background: url('../Image/eye.png'); display:block; height:24px; width:24px;",
                   @class = "text-hide"
               })
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new
               {
                   style = "background: url('../Image/delete.png'); display:block; height:24px; width:24px;",
                   @class = "text-hide"
               })
                }
            </td>
        </tr>
    }
</table>
