@model IEnumerable<ModelCinema.Models.film>

@{
    ViewBag.Title = "Index Films";
}

    <h2>Films Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.annee_parution)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.ActionLink("Importé Contenu", "Create") |
            @Html.ActionLink("Add Contenu", "Create")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.titre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.annee_parution)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.rating)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>
