@{
    ViewBag.Title = "DevPage";
}

    

    <div class="row">
        <div class="col-md-4">
            <h2>Home Page</h2>
            @Html.ActionLink("DevPage > User", "Index", "users")
            <br />
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Seances" class="btn btn-default" />
                @Html.DropDownList("cinemas", null, htmlAttributes: new { @class = "form-control" })
            }
            <br />
            @Html.ActionLink("DevPage > Films", "Index", "films")
            <br />
            @Html.ActionLink("DevPage > Cinemas", "Index", "cinemas")
            <br />
            @Html.ActionLink("DevPage > UserType", "Index", "user_type")
        </div>

        <div>
            @Html.EJS().Calendar("calendar").Render()
        </div>
    </div>