@{
    ViewBag.Title = "DevPage";
}

    

    <div class="row">
        <div class="col-md-4">
            <h2>Home Page</h2>
            @Html.ActionLink("User", "Index", "users")
            <br />
            @Html.ActionLink("Seances", "Index", "seances")
            <br />
            @Html.ActionLink("Films", "Index", "films")
            <br />
            @Html.ActionLink("Cinemas", "Index", "cinemas")
            <br />
            @Html.ActionLink("UserType", "Index", "user_type")
        </div>

        <div>
            @Html.EJS().Calendar("calendar").Render()
        </div>
    </div>