@model ModelCinema.Models.user

@{
    ViewBag.Title = "Details User";
}

    <h2>User Details</h2>

    <div>
        <h4>user</h4>
        @if (TempData.ContainsKey("Alert"))
        {
            <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
        }
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.contact_info.tel_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contact_info.tel_number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.user_status.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user_status.status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.user_type.type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.user_type.type)
            </dd>

        </dl>
    </div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
