@model IEnumerable<ModelCinema.Models.user>

@{
    ViewBag.Title = "Index User";
}

    <h2>User Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact_info.tel_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_status.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_type.type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contact_info.tel_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_status.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_type.type)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
