@model ModelCinema.Models.genre_film

@{
    ViewBag.Title = "Details Genre film";
}

    <h2>Genres Film Details</h2>

<div>
    <h4>genre_film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre.Genre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
