@model IEnumerable<ModelCinema.Models.role_participant>

@{
    ViewBag.Title = "Index Role";
}

    <h2>Role Index</h2>
    <p>
        @Html.ActionLink("Back to Participations", "index", "participations")
    </p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.ActionLink("New Role", "Create")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
