@model ModelCinema.Models.seance

@{
    ViewBag.Title = "Delete Seances";
}

<h2>Seances Delete</h2>
@if (TempData.ContainsKey("Alert"))
{
    <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
}
<div>
    @Html.ActionLink("Back to List", "BackToSalle", new { id = int.Parse(Session[SessionKeys.salleId].ToString()) }, new { @class = "btn btn-default" })
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        </br>
        <dt>
            @Html.DisplayNameFor(model => model.date_debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titre_seance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre_seance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salle.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salle.commentaire)
        </dd>
        </br>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h3>Are you sure you want to delete this?</h3>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
