@model ModelCinema.Models.seance

@{
    ViewBag.Title = "Details Seances";
}

<h2>Seances Details</h2>

<div>
    @*<h4>seance</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titre_seance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre_seance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.film.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salle.commentaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salle.commentaire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "BackToSalle", new { id = int.Parse(Session[SessionKeys.salleId].ToString()) })
</p>
