@model ModelCinema.Models.seance

@{
    ViewBag.Title = "Details Seances";
}

<h2>Seances Details</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        @*<h4>seance</h4>*@
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.date_debut)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_debut)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.date_fin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date_fin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.titre_seance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.titre_seance)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.film.titre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.film.titre)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.salle.commentaire)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.salle.commentaire)
            </dd>




            <br />

            <table class="table">
                <tr>
                    <th>
                        @Html.DropDownList("id_film", null, "--Select Film--", htmlAttributes: new { @class = "form-control" })
                    </th>
                    <th>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </th>
                </tr>
            </table>
            <br />

            <table class="table">

                <tr>
                    <th>
                        Titre
                    </th>
                    <th>
                        Film principale
                    </th>
                </tr>
                @foreach (var item in Model.programmations)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.film.titre)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item)
                            </td>*@
                    </tr>
                }
            </table>
    </div>

}


@using (Html.BeginForm("Reccurance", "seances", FormMethod.Post))
{
    @Html.HiddenFor(model => model.id)
    <table class="table">
        <tr>
            <th>
                <select class="form-control" id="recurrance" name="recurrance">
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Yearly</option>
                </select>
            </th>
            <th>
                <input class="form-control" id="nbrRecurrance" name="nbrRecurrance" type="number" min="1" value="1" />
            </th>
            <th>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create Repeat" class="btn btn-default" />
                    </div>
                </div>
            </th>
        </tr>
    </table>
}
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "BackToSalle", new { id = int.Parse(Session[SessionKeys.salleId].ToString()) })
    </p>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }