@model ModelCinema.Models.seance

@{
    ViewBag.Title = "Edit Seances";
}
@using (Html.BeginForm("Edit", "seances", FormMethod.Post))
{
    <div>
        <div style="text-align: left; float: left;">
            <h2>Edit Session</h2>
        </div>

        <div style="text-align: right; float: right; margin-top: 17px; margin-left: 10px">
            @Html.ActionLink("Back to room #" + Model.salle.numero_salle, "BackToSalle", new { id = int.Parse(Session[SessionKeys.salleId].ToString()) }, new { @class = "btn btn-default" })
        </div>

        <div class="btn btn-default" style="
            text-align: right;
            float: right;
            padding: 0px;
            margin: 0px;
            margin-top: 15px;">
            <input type="submit" value="" class="btn btn-success btn-Save btn-general" />
        </div>

    </div>

    if (TempData.ContainsKey("Alert"))
    {
        <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
    }

    <br />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    @Html.AntiForgeryToken()
    //table pour afficher les info de la seance
    <table class="table">
        @Html.HiddenFor(model => model.id)
        <tr>
            <th>
                @Html.LabelFor(model => model.date_debut)
            </th>
            <th>
                @Html.LabelFor(model => model.date_fin)
            </th>
            <th>
                @Html.LabelFor(model => model.titre_seance)
            </th>
            <th>
                @Html.LabelFor(model => model.salle_id, "Room")
            </th>
        </tr>

        <tr>
            <td>
                @Html.Label(Model.date_debut.ToString())
                @Html.TextBoxFor(model => model.date_debut, new { @class = "form-control", @Value = Model.date_debut })
                @Html.ValidationMessageFor(model => model.date_debut, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.Label(Model.date_fin.ToString())
                @Html.TextBoxFor(model => model.date_fin, new { type = "datetime-local", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.date_fin, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.EditorFor(model => model.titre_seance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.titre_seance, "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.DropDownList("salle_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.salle_id, "", new { @class = "text-danger" })
            </td>
        </tr>
    </table>
}
<br />

@using (Html.BeginForm("Reccurance", "seances", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //table pour la recurance
    <table class="table">
        @Html.HiddenFor(model => model.id)
        <tr>
            <th style="width:25%">
                <h3>Repeating Session</h3>
            </th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>
                <div style="padding-left:15px">
                    <span>Repeat </span>
                    <span>
                        <input class="form-control" style="display: inline; width:75px" id="nbrRecurrance" name="nbrRecurrance" type="number" min="1" value="1" />
                    </span>
                    <span> times</span>
                </div>
            </td>
            <td>
                <select class="form-control" id="recurrance" name="recurrance">
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Yearly</option>
                </select>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create Repeat" class="btn btn-default" />
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

@using (Html.BeginForm("Edit", "seances", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //table pour afficher la liste des programmation de la seance
    <table class="table">
        <tr>
            <th>
                Movies
            </th>
            <th>
                Types
            </th>
            <th>
                Lenght
            </th>
            <th>
                Primary
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model.programmations)
        {
            <tr style="@(item.is_primary? "background-color: rgb(0, 165, 255, 0.5);" : "")">
                @Html.HiddenFor(modelItem => item.id)
                <td>
                    @Html.DisplayFor(modelItem => item.film.titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.film.type_film.typage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.film.duree)
                </td>
                <td>
                    @if (item.is_primary)
                    {
                        <b>PRIMARY</b>
                    }
                    else if (item.film.type_film.typage != "Promotionnel")
                    {
                        @Html.ActionLink("make primary", "MakePrimary", new { id = item.id, seanceId = int.Parse(Session[SessionKeys.seanceId].ToString()) }, htmlAttributes: new { @class = "btn btn btn-default" })
                    }
                </td>
                <td>
                    @Html.ActionLink("Remove", "RemoveProgrammation", new { id = item.id, seanceId = int.Parse(Session[SessionKeys.seanceId].ToString()) }, htmlAttributes: new { style = "background: url('../../Image/moins.png'); display: block; height: 24px; width: 24px;", @class = "text-hide" })
                </td>
            </tr>
        }
    </table>
}



@using (Html.BeginForm("Edit", "seances", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //table pour le filtre
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Type
            </th>
            <th>
                Year
            </th>
            <th></th>
            <th></th>
        </tr>
        @using (Html.BeginForm("Filtre", "seances", FormMethod.Post))
        {
            <tr>
                <th>
                    @Html.TextBox("titre", "", new { @class = "form-control" })
                </th>
                <th>
                    @Html.DropDownList("id_type", null, htmlAttributes: new { @class = "form-control" })
                </th>
                <th>
                    @Html.TextBox("yearMin", DateTime.Now.Year - 10, new { @class = "form-control datepicker" })
                </th>
                <th>
                    @Html.TextBox("yearMax", DateTime.Now.Year + 5, new { @class = "form-control datepicker" })
                </th>
                <th>
                    <p>
                        <input name="command" type="submit" style="background: url('../../Image/search.png'); display: block; height: 24px; width: 24px;" class="text-hide" />
                    </p>
                </th>
            </tr>
        }
    </table>
}

@using (Html.BeginForm("Edit", "seances", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    //table pour ajouter une nouvelle seance
    <table class="table">
        <tr>
            <th>
                Movies
            </th>
            <th>
                Types
            </th>
            <th>
                Lenght
            </th>
            <th>

            </th>
        </tr>
        @if (ViewBag.filmsFiltred != null)
        {
            foreach (var item in ViewBag.filmsFiltred)
            {
                Html.RenderPartial("FilmsAdder", (ModelCinema.Models.film)item);
            }
        }
    </table>
}

<button onclick="topFunction()" id="myBtn" title="Go to top">Back to Top</button>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var mybutton = document.getElementById("myBtn");

        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

}
