@model IEnumerable<ModelCinema.Models.seance>

@{
    ViewBag.Title = "Index Seances";
}


<h2>Seances</h2>

<table class="table">
    <tr>
        <th>
            Cinema
        </th>
        <th>
            Salle Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titre_seance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_fin)
        </th>
        <th></th>
    </tr>
    @using (Html.BeginForm("Filtre", "seances", FormMethod.Post))
    {
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>
                
            </th>

            <th>
                Start
                @Html.TextBox("Apres", DateTime.Now.AddDays(-10), new { @class = "form-control datepicker" })
            </th>
            <th>
                End
                @Html.TextBox("Avant", DateTime.Now.AddDays(10), new { @class = "form-control datepicker" })
            </th>
            <th>
                <input type="submit" value="Filtre" class="btn btn-default" />
               
            </th>
        </tr>
     }

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.salle.cinema.contact_info.adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salle.numero_salle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titre_seance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_debut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_fin)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
