@model ModelCinema.Models.cinema

@{
    ViewBag.Title = "Delete Cinema";
}

    <h2>Cinema Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cinema_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cinema_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_info.tel_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_info.tel_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.login)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
