@model ModelCinema.Models.cinema

@{
    ViewBag.Title = "Details Cinema";
}

    <h2>Cinema Details</h2>

<div>
    <h4>cinema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contact_info.tel_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_info.tel_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
