@model ModelCinema.Models.cinema

@{
    ViewBag.Title = "Details Cinema";
}

<h2>Cinema Details</h2>
@if (TempData.ContainsKey("Alert"))
{
    <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
}
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>

<div class="transbox">
    <div>
        <hr />



        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.cinema_name)
                </th>
                <th>
                    Responsable
                </th>
                <th>
                    Titre
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.contact_info.tel_number)
                </th>
            </tr>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.cinema_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.user.name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.user.user_type.type)
                </td>
                <td>
                    @Html.DisplayFor(model => model.contact_info.tel_number)
                </td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th>
                    Numero de Salle
                </th>
                <th>
                    Nbr place
                </th>
                <th>
                    commentaire
                </th>
                <th>
                    status
                </th>
                <th>
                    <u>@Html.ActionLink("Create Salle", "CreateSalle", new { id = Model.id })</u>
                </th>
            </tr>

            @foreach (var item in Model.salles)
            {
                <tr>
                    <td>
                        # @Html.DisplayFor(modelItem => item.numero_salle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nbr_place)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.commentaire)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.salle_status.status)
                    </td>
                    <td>
                        @if (item.seances.Count == 0)
                        {
                            <span>
                                @Html.ActionLink("Edit", "EditSalle", new { id = item.id }, htmlAttributes: new
                                {
                               style = "background: url('../../Image/edit.png'); display:block; height:24px; width:24px;",
                               @class = "text-hide"
                           })
                            </span>
                        }

                        @Html.ActionLink("Details", "DetailsSalle", new { id = item.id }, htmlAttributes: new
                        {
                       style = "background: url('../../Image/eye.png'); display:block; height:24px; width:24px;",
                       @class = "text-hide"
                   })
                        @if (item.seances.Count == 0)
                        {
                            <span>
                                @Html.ActionLink("Delete", "DeleteSalle", new { id = item.id }, htmlAttributes: new
                                {
                               style = "background: url('../../Image/delete.png'); display:block; height:24px; width:24px;",
                               @class = "text-hide"
                           })
                            </span>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>