@model ModelCinema.Models.cinema

@{
    ViewBag.Title = "Details Cinema";
}

<h2>Cinema Details</h2>

<div>
    <h4>cinema</h4>
    <hr />
   
    <table class="table">
        <tr>
            <th>
                Responsable
            </th>
            <th>
                Responsable @Html.DisplayNameFor(model => model.contact_info.tel_number)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.user.login)
            </td>
            <td>
                @Html.DisplayFor(model => model.contact_info.tel_number)
            </td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>
                #
            </th>
            <th>
                Nbr place
            </th>
            <th>
                commentaire
            </th>
            <th>
                status
            </th>
            <th>
                @Html.ActionLink("Create Salle", "CreateSalle", new { id = Model.id })
            </th>
        </tr>

        @foreach (var item in Model.salles)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.numero_salle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbr_place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salle_status.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditSalle", new { id = item.id }) |
            @Html.ActionLink("Details", "DetailsSalle", new { id = item.id }) |
            @Html.ActionLink("Delete", "DeleteSalle", new { id = item.id })
        </td>
    </tr>
        }

    </table>


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
