@model ModelCinema.Models.salle

@{
    ViewBag.Title = "DetailsSalle";
}

<h2>DetailsSalle</h2>

<div>
    <h4>salle</h4>
    @if (TempData.ContainsKey("Alert"))
    {
        <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
    }
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nbr_place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero_salle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cinema.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salle_status.status)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.nbr_place)
            </td>
            <td>
                @Html.DisplayFor(model => model.numero_salle)
            </td>
            <td>
                @Html.DisplayFor(model => model.commentaire)
            </td>
            <td>
                @Html.DisplayFor(model => model.cinema.id)
            </td>
            <td>
                @Html.DisplayFor(model => model.salle_status.status)
            </td>
        </tr>

    </table>


</div>

<table class="table">


    @using (Html.BeginForm("Filtre", "cinemas", FormMethod.Post))
    {
        <tr>
            <th>

            </th>
            <th>
                Start
                @Html.TextBox("start", DateTime.Now.AddDays(-10), new { @class = "form-control datepicker" })
            </th>
            <th>
                End
                @Html.TextBox("end", DateTime.Now.AddDays(10), new { @class = "form-control datepicker" })
            </th>
            <th>
                <br/>
                <input type="submit" value="Filtre" class="btn btn-default" />

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    }

    <tr>
        <th>
            Titre de la seance
        </th>
        <th>
            Date de debut
        </th>
        <th>
            Date de fin
        </th>
        <th>
            @Html.ActionLink("Create Seance", "CreateSeance")
        </th>
    </tr>

    @foreach (var item in Model.seances)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titre_seance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_fin)
            </td>
            <td>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditSeance", new { id = item.id }) |
                @Html.ActionLink("Details", "DetailsSeance", new { id = item.id }) |
                @Html.ActionLink("Delete", "DeleteSeance", new { id = item.id })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to List", "Details", new { id = Model.cinema_id })
</p>
