@model ModelCinema.Models.salle

@{
    ViewBag.Title = "DetailsSalle";
    DateTime?
        startDate = (Session[SessionKeys.startDate] != null) ?
            Session[SessionKeys.startDate] as DateTime? :
            DateTime.Now.AddDays(-10);
    DateTime?
        endDate = (Session[SessionKeys.endDate] != null) ?
            Session[SessionKeys.endDate] as DateTime? :
            DateTime.Now.AddDays(+10);
}

<h2>Details Salle</h2>

@if (TempData.ContainsKey("Alert"))
    {
        <div class="alert alert-danger alert-dismissable show" role="alert">
            @TempData["Alert"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

<p>
    @Html.ActionLink("Back to List", "Details", new { id = Model.cinema_id }, new { @class = "btn btn-default" })
</p>

<div class="transbox">

    <div>
        <hr />
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nbr_place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numero_salle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commentaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salle_status.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cinema.cinema_name)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.nbr_place)
            </td>
            <td>
                @Html.DisplayFor(model => model.numero_salle)
            </td>
            <td>
                @Html.DisplayFor(model => model.commentaire)
            </td>
            <td>
                @Html.DisplayFor(model => model.salle_status.status)
            </td>
            <td>
                @Html.DisplayFor(model => model.cinema.cinema_name)
            </td>
        </tr>

    </table>

    <table class="table">


        @using (Html.BeginForm("Filtre", "cinemas", FormMethod.Post))
        {
            <tr>
                <th>

                </th>
                <th>
                    Start
                    <input class="form-control" data-val="true" data-val-required="Date is required"
                           id="startDate" name="startDate" type="date" value=@startDate />
                </th>
                <th>
                    End
                    <input class="form-control" data-val="true" data-val-required="Date is required"
                           id="endDate" name="endDate" type="date" value=@endDate />
                </th>
                <th>
                   <br />
                    <input type="submit" style="background: url('../../Image/search.png'); display: block; height: 24px; width: 24px;" class="text-hide" />

                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
        }

        <tr>
            <th>
                Titre de la seance
            </th>
            <th>
                Date de debut
            </th>
            <th>
                Date de fin
            </th>
            <th>
                <u> @Html.ActionLink("Create Seance", "CreateSeance")</u>
            </th>
        </tr>

        @foreach (var item in Model.seances.OrderBy(x => x.date_debut))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.titre_seance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_debut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date_fin)
                </td>
                <td>
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditSeance", new { id = item.id }, htmlAttributes: new
                    {
                   style = "background: url('../../Image/edit.png'); display:block; height:24px; width:24px;",
                   @class = "text-hide"
               })
                    @Html.ActionLink("Delete", "DeleteSeance", new { id = item.id }, htmlAttributes: new
                    {
                   style = "background: url('../../Image/delete.png'); display:block; height:24px; width:24px;",
                   @class = "text-hide"
               })
                </td>
            </tr>
        }
    </table>

</div>