@model ModelCinema.Models.salle

@{
    ViewBag.Title = "Edit Salle";
}

<h2>Edit Salle</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="transbox">
    @if (TempData.ContainsKey("Alert"))
    {
        <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
    }
    <div>
        @Html.ActionLink("Back to List", "Details", new { id = Model.cinema_id }, new { @class = "btn btn-default" })
    </div>
    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.nbr_place, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bolder; color: black;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nbr_place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nbr_place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numero_salle, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bolder; color: black;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numero_salle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numero_salle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.commentaire, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bolder; color: black;" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.commentaire, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.commentaire, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status_id, "Status", htmlAttributes: new { @class = "control-label col-md-2", @style = "font-weight: bolder; color: black;" })
            <div class="col-md-10">
                @Html.DropDownList("status_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.status_id, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.cinema_id)



        <div class="form-actions no-color">
            <input type="submit" value="Update" class="btn btn-default" />
        </div>


    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
