@model IEnumerable<ModelCinema.Models.cinema>

@{
    ViewBag.Title = "Index Cinema";
}

<h2>Cinema</h2>


@if (TempData.ContainsKey("Alert"))
{
    <div class="alert alert-danger" role="alert">@TempData["Alert"]</div>
}
<div class="transbox">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cinema_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contact_info.adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contact_info.tel_number)
            </th>
            <th>
                Responsable
            </th>
            <th>
                <u>
                    @Html.ActionLink("Create Cinema", "Create")
                </u>
            </th>
            <th></th>
        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.cinema_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contact_info.adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contact_info.tel_number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.user.name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new
               {
                   style = "background: url('../Image/edit.png'); display:block; height:24px; width:24px;",
                   @class = "text-hide"
               })
                    @Html.ActionLink("Details", "Details", new { id = item.id }, new
               {
                   style = "background: url('../Image/eye.png'); display:block; height:24px; width:24px;",
                   @class = "text-hide"
               })
                </td>
            </tr>
        }

    </table>
</div>
